body{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.webp);
    background-size: 100%;
}
#calculator{
    display: grid;
    grid-column: span;
    background-color: black;
    color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
}
#display{
    background-color: rgb(62, 61, 61) ;
    color: white;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
span{
    font-size: 60px;
    font-family: Verdana;
    margin-left: 10px;
}
.btns{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 25px;
}
button{
    position: relative;
    background-color: black;
    color: white;
    width: 70%;
    height: 70px;
    border-radius: 30px;
    border-color:white;
    font-size: 30px;
}
button:hover{
    background-color: rgb(71, 87, 40);
}
.uildel{
    background-color: rgb(255, 128, 0);
}
.uildel:hover{
    background-color: rgb(255, 60, 0);
}